html {
  background-color: #90AB76;
  color: #2d2d2d;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
}

img {
  border: none;
}

img.center {
  left: 50%;
  margin-left: -25%;
  position: relative;
}

a {
  border-bottom: 1px solid #69c;
  color: #69c;
  text-decoration: none;
}

b#failed {
  color: #E05D6F;
}

p.center {
  text-align: center;
}

.by-laws h4 {
  text-align: center;
  padding: 0;
}

.by-laws a.top {
  font-size: 12px;
}

table {
  margin-bottom: 10px;
  padding: 0;
  width: 984px;
}

tr {
  text-align: center;
}

tr.header {
  border-bottom: 2px solid #5D5D5D;
  font-size: 18px;
  font-weight: 700;
}

.informational-meeting {
  color: #FF7200;
}

.canceled-meeting {
  color: #FF0033;
}

.canceled-meeting a {
  border-bottom: none;
  color: #2d2d2d;
  text-decoration: none;
}

tr.canceled-meeting {
  background-color: #FF0033;
  color: #2d2d2d;
}

.informational-meeting a {
  border-bottom: 1px solid #69c;
  color: #69c;
  text-decoration: none;
}

td {
  border: 1px solid #5D5D5D;
  padding: 5px;
}

td.left {
  text-align: left;
}

td.right {
  text-align: right;
}

table.members {
  margin-top: 20px;
}

table.members td {
  padding: 5px 1px;
  width: 328px;
}

table.members b.name {
  font-size: 18px;
}

table#login {
  width: auto;
}

table#login td {
  border: none;
  width: auto;
}

iframe {
  border: none;
  height: 500px;
  margin-top: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  width: 100%;
}

#notice {
  display: none;
}

#table-of-contents ol li {
  margin-bottom: 5px;
}

#table-of-contents ol:last-child {
  margin-bottom: 0;
}

#content-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

#header {
  background-color: #FFF;
  -webkit-box-shadow: 0 15px 10px -10px #444, 0 1px 4px #444;
  box-shadow: 0 15px 10px -10px #444, 0 1px 4px #444;
  height: 430px;
  margin-top: 15px;
  padding-bottom: 10px;
  position: relative;
}

#header #banner img {
  height: 328px;
  margin: 10px 0 0 10px;
  padding-bottom: 60px;
  width: 1000px;
}

#header #banner h1 {
  background-color: #fff;
  font-size: 40px;
  letter-spacing: 5px;
  margin: 0 0 0 10px;
  position: relative;
  text-align: center;
  top: -80px;
  width: 1000px;
  word-spacing: 10px;
}

#header #nav {
  font-weight: 600;
  position: relative;
  text-align: center;
  top: -80px;
}

#header #nav a {
  color: #2d2d2d;
  border-bottom: none;
}

#header #nav a.active {
  border-bottom: 1px solid #2d2d2d;
}

#header #nav ul {
  -webkit-padding-start: 0;
}

#header #nav ul li {
  border-right: 1px solid #ccc;
  display: inline;
  margin: 0 0 0 -3px;
  *margin: 0;
  padding: 5px 10px;
}

#header #nav ul li:last-child {
  border-right: none;
}

.content-block {
  background-color: #FFF;
  box-shadow: 0 15px 10px -10px #444, 0 1px 4px #444;
  -webkit-box-shadow: 0 15px 10px -10px #444, 0 1px 4px #444;
  margin-top: 20px;
  padding: 10px 20px;
}

.content-block .title {
  border-bottom: 2px solid #90AB76;
  font-size: 25px;
  font-weight: 700;
  left: -20px;
  margin-bottom: 5px;
  padding: 0 0 5px 20px;
  position: relative;
  width: 1004px;
}

.content-block .sub-title {
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
}

.next-meeting {
  background-color: #E05D6F;
  border: none;
  text-align: center;
}

.next-meeting .title {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.content-block p.map-title {
  font-size: 20px;
  font-weight: 800;
  position: relative;
  top: 20px;
}

#footer {
  background-color: #FFF;
  box-shadow: 0 15px 10px -10px #444, 0 1px 4px #444;
  -webkit-box-shadow: 0 15px 10px -10px #444, 0 1px 4px #444;
  margin: 20px 0 -5px 0;
  padding: 10px 0;
  text-align: center;
}