#!/bin/bash

FTPUSER="username"
FTPPASS="password"
FTPHOST="hostname"

#
# Update in a single command using the lftp tool.
#
lftp -e "mirror -R -x build/ -x .git/ -x logs/ -P 10" -u $FTPUSER,$FTPPASS $FTPHOST