#!/bin/bash

FTPUSER="username"
FTPPASS="password"
FTPHOST="hostname"

#
# Make sure our vendor directory is updated to exclude no dev packages.
#
php composer.phar selfupdate
php composer.phar update --no-dev

#
# Update the site with git-ftp.
#
# https://github.com/git-ftp/git-ftp
#
git ftp push -u $FTPUSER -p $FTPPASS - $FTPHOST

#
# Use lftp to update vendor and remove 'cache'.
#
# http://lftp.yar.ru/
#
lftp -u $FTPUSER,$FTPPASS $FTPHOST << EOF
set mirror:use-pget-n 5

mirror -R vendor/ vendor/
put composer.phar
put composer.lock
put composer.json

mrm -r app/storage/*/*

quit
EOF

#
# Make sure we revert our vendor stack back to dev
#
php composer.phar update --dev
